.anchor {
    height: 65.0rem;

    background-color: black;
    visibility: hidden;
    position: relative;
    z-index: 1;

    &--medium {
        height: 97.5rem;
    }

    &--big {
        height: 130.0rem;
    }

    &.is-visible {
        visibility: visible;
    }

    &__bkg {
        opacity: 0.5;
        z-index: 0;
        position: relative;
        z-index: -1;
    }

}