.hero {
    height: 100vh;

    svg {
        position: absolute;
        width: 3rem;
        transform-origin: 0% 50%;
        transform: rotate(90deg) translateX(-50%);
        fill: white;
        bottom: 5rem;
        left: 50%;
        animation: oscillate 1.4s infinite ease-out;
        will-change: bottom;
    }
}

@keyframes oscillate {
    0% {
        bottom: 6.5rem;
    }
    25% {
        bottom: 5rem;
    }
    50% {
        bottom: 6.5rem;
    }
    100% {
        bottom: 6.5rem;
    }
}