.hero {
    height: 100vh;

    &__inner {

        .title,
        .subtitle {
            opacity: 0;
            transform: scale(0.8);
            will-change: transform;

            .transi-in & {
                opacity: 1;
                transform: scale(1);
                transition: opacity 1s ease 1.2s, transform 1.8s $easeToinou 1.2s;

                &:nth-child(2) {
                    transition-delay: 1.6s;
                }
            }
        }
    }

    svg {
        position: absolute;
        width: 3rem;
        transform-origin: 0% 50%;
        transform: rotate(90deg) translateX(-50%);
        fill: white;
        bottom: 5rem;
        left: 50%;
        animation: oscillate 1.4s infinite ease-out;
        will-change: bottom;
    }
}

@keyframes oscillate {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}