.loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 900;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &.is-loaded {
        transition: height 2s $ExpoEaseOut 1s;
        height: 0%;

        p {
            opacity: 0;
            animation: none;
        }
    }

    p {
        transition: opacity 1s linear;
        opacity: 1;
    }
}